##  Python Data Structures

### Lists

In [140]:
my_list = []

my_list = [1, 2, 3, "Python", 3.14]

### Accessing Elements

In [141]:
# Accessing elements by index
first_element = my_list[0]     
second_element = my_list[1]    
last_element = my_list[-1]     

# Slicing a list
sub_list = my_list[1:4]

### List Methods

In [142]:
# Append an element
my_list.append("New Element")

# Remove an element
my_list.remove(2)  # Removes the first occurrence of 2

# Insert an element at a specific position
my_list.insert(1, "Inserted Element")

# Extend the list with another list
my_list.extend([7, 8, 9])

# Pop an element (removes and returns the last element by default)
popped_element = my_list.pop()

# Reverse the list
my_list.reverse()

# Find the index of an element
index_of_python = my_list.index("Python")

# Count occurrences of an element
count_of_element = my_list.count("Python")

### List Comprehension

In [143]:
# Basic list comprehension
squares = [x**2 for x in range(10)]  

# With a condition
even_squares = [x**2 for x in range(10) if x % 2 == 0]

### Tuples

In [144]:
my_tuple = ()

my_tuple = (1, 2, 3, "Python", 3.14)

### Accessing Element

In [145]:
# Accessing elements by index
first_element = my_tuple[0]     
second_element = my_tuple[1]    
last_element = my_tuple[-1]     

# Slicing a tuple
sub_tuple = my_tuple[1:4]

### Tuple Methods

In [146]:
# Count occurrences of an element
count_of_python = my_tuple.count("Python")

# Find the index of an element
index_of_python = my_tuple.index("Python")

### Tuple Comprehension

In [147]:
# Tuple comprehension using a generator expression
squares_tuple = tuple(x**2 for x in range(10))

### Dictionaries

In [148]:
my_dict = {}

my_dict = {"name": "Alice", "age": 25, "city": "New York"}

### Accessing Elements

In [149]:
# Accessing values by key
name = my_dict["name"]  
age = my_dict["age"]    

# Using the get method (avoids KeyError if the key is not present)
city = my_dict.get("city", "Unknown")

### Dictionary Methods

In [150]:
# Add or update an item
my_dict["email"] = "alice@example.com"

# Remove an item
del my_dict["age"]

# Get all keys
keys = my_dict.keys()  # dict_keys(['name', 'city', 'email'])

# Get all values
values = my_dict.values()  # dict_values(['Alice', 'New York', 'alice@example.com'])

# Get all key-value pairs
items = my_dict.items()  # dict_items([('name', 'Alice'), ('city', 'New York'), ('email', 'alice@example.com')])

# Pop an item (removes and returns the item with the specified key)
email = my_dict.pop("email")

# Clear all items
my_dict.clear()

### Dictionary Comprehension

In [151]:
# Basic dictionary comprehension
squares_dict = {x: x**2 for x in range(10)} 
# With a condition
even_squares_dict = {x: x**2 for x in range(10) if x % 2 == 0}

### Sets

In [156]:
my_set = set()

my_set = {1, 2, 3, "Python", 3.14}

### Accessing Elements

In [157]:
# Check if an element is in the set
contains_python = "Python" in my_set  # True

# Iterate over the set
for item in my_set:
    print(item)

1
2
3.14
3
Python

### Set Methods

In [158]:
# Add an element
my_set.add("New Element")

# Remove an element
my_set.remove(2)  # Raises KeyError if the element is not present

# Discard an element (does not raise an error if the element is not present)
my_set.discard(2)

# Pop an element (removes and returns an arbitrary element)
popped_element = my_set.pop()

# Clear all elements
my_set.clear()

# Union of sets
another_set = {3, 4, 5}
union_set = my_set.union(another_set)

# Intersection of sets
intersection_set = my_set.intersection(another_set)

# Difference of sets
difference_set = my_set.difference(another_set)

# Symmetric difference of sets
symmetric_difference_set = my_set.symmetric_difference(another_set)

### Set Comprehension

In [159]:
# Basic set comprehension
squares_set = {x**2 for x in range(10)}  
# With a condition
even_squares_set = {x**2 for x in range(10) if x % 2 == 0}

### Set Operations

In [160]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Union
union_set = set1 | set2  

# Intersection
intersection_set = set1 & set2 

# Difference
difference_set = set1 - set2  

# Symmetric Difference
symmetric_difference_set = set1 ^ set2

## Immutability

In [161]:
'''Mutable vs Immutable:

Mutable: Lists, dictionaries, sets.
Immutable: Tuples, strings'''

'Mutable vs Immutable:\n\nMutable: Lists, dictionaries, sets.\nImmutable: Tuples, strings'

### Comparison: Lists vs Tuples

In [162]:
# List Example
my_list = [1, 2, 3]
my_list.append(4)
my_list[0] = 10  # Modifying an element

# Tuple Example
my_tuple = (1, 2, 3)
# my_tuple.append(4)  # AttributeError: 'tuple' object has no attribute 'append'
# my_tuple[0] = 10  # TypeError: 'tuple' object does not support item assignment

### Numeric Types in Python

In [163]:
# Integer
num_int = 42

# Floating-point number
num_float = 3.14

# Complex number
num_complex = 2 + 3j

# Arithmetic Operations
sum_int = num_int + 10          
diff_float = num_float - 1.14   
product = num_int * num_float   
quotient = num_float / 2        

# Complex Number Operations
complex_sum = num_complex + (1 - 1j)

### String Types

In [164]:
# Defining a string
text = "Hello, World!"

# Accessing Characters
first_char = text[0]   
last_char = text[-1]   

# Slicing
substring = text[7:12] 

# Concatenation
greeting = "Hello" + " " + "Python"  

# Repetition
repeated = "Ha" * 3  # 'HaHaHa'

# String Methods
upper_text = text.upper()       
lower_text = text.lower()       
replace_text = text.replace("World", "Python") 
split_text = text.split(", ")

### String Formating

In [167]:
# Using f-strings (Python 3.6+)
name = "Alice"
age = 30
formatted_str = f"Name: {name}, Age: {age}"  
print(formatted_str)
# Using .format()
formatted_str = "Name: {}, Age: {}".format(name, age)  
print(formatted_str)

Name: Alice, Age: 30
Name: Alice, Age: 30

### Random Number Generation

In [169]:
import random

# Generating a random integer between 1 and 10
rand_int = random.randint(1, 10)  

# Generating a random floating-point number between 0 and 1
rand_float = random.random()      

# Generating a random floating-point number within a specific range
rand_float_range = random.uniform(1.5, 2.5)  

# Choosing a random element from a list
elements = ['apple', 'banana', 'cherry']
rand_element = random.choice(elements)  

# Shuffling a list
random.shuffle(elements)
print(elements)

['banana', 'cherry', 'apple']

### Matrix Operations

In [170]:
import numpy as np

# Defining matrices
matrix_a = np.array([[1, 2], [3, 4]])
matrix_b = np.array([[5, 6], [7, 8]])

# Matrix Addition
matrix_sum = matrix_a + matrix_b

# Matrix Multiplication
matrix_product = np.dot(matrix_a, matrix_b)

# Element-wise Multiplication
elementwise_product = matrix_a * matrix_b

# Transposing a Matrix
matrix_transpose = matrix_a.T

###  List Comprehension

In [171]:
# Creating a list of squares
squares = [x**2 for x in range(10)] 

# Creating a list of even numbers
even_numbers = [x for x in range(20) if x % 2 == 0] 

# Applying a function to each element in a list
words = ["hello", "world", "python"]
uppercase_words = [word.upper() for word in words] 

# Nested list comprehension
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened = [num for row in matrix for num in row]

### User-Defined Functions

In [172]:
def function_name(parameters):
    """
    Optional docstring: Description of the function.
    """
    # Function body
    pass  # Replace pass with actual code

In [45]:
# Functions with and without Parameters

In [173]:
def greet():
    """
    Function that prints a greeting message.
    """
    print("Hello, World!")

# Calling the function
greet()

Hello, World!

In [174]:
def greet(name):
    """
    Function that prints a personalized greeting message.
    
    Parameters:
    name (str): The name of the person to greet.
    """
    print(f"Hello, {name}!")

# Calling the function with an argument
greet("Alice")

Hello, Alice!

In [48]:
# Local & Global Variables

In [175]:
def local_example():
    local_var = "I am local"
    print(local_var)

# Calling the function
local_example()  

# Trying to access local_var outside the function will result in an error
# print(local_var)  # NameError: name 'local_var' is not defined

I am local

In [50]:
# Global Variables

In [176]:
global_var = "I am global"

def global_example():
    print(global_var)

# Calling the function
global_example()

I am global

In [177]:
global_var = "I am global"

def modify_global():
    global global_var
    global_var = "I have been modified"

# Calling the function
modify_global()
print(global_var)

I have been modified

### Lambda Functions

In [178]:
lambda arguments: expression

In [183]:
# A lambda function that adds 10 to its input
add_ten = lambda x: x + 10

# Calling the lambda function
result = add_ten(5)  
print(result)

15

In [55]:
# Using Lambda with Functions

In [182]:
# Using lambda with map() to square each element in a list
numbers = [1, 2, 3, 4]
squares = list(map(lambda x: x**2, numbers)) 
print(squares)

# Using lambda with filter() to get even numbers
even_numbers = list(filter(lambda x: x % 2 == 0, numbers)) 
print(even_numbers)

# Using lambda with sorted() to sort by the second character of each string
strings = ["apple", "banana", "cherry"]
sorted_strings = sorted(strings, key=lambda s: s[1]) 
print(sorted_strings)

[1, 4, 9, 16]
[2, 4]
['banana', 'cherry', 'apple']

### Calling Functions

In [181]:
def add(x, y):
    return x + y

# Calling the function with arguments
result = add(5, 3)  # Output: 8
print(result)

8

### Parameters

In [60]:
def greet(name="Guest"):
    print(f"Hello, {name}!")

greet()          # Output: Hello, Guest!
greet("Alice")   # Output: Hello, Alice!

Hello, Guest!
Hello, Alice!

In [61]:
def describe_pet(name, animal_type="dog"):
    print(f"I have a {animal_type} named {name}.")

describe_pet("Buddy")                 # Output: I have a dog named Buddy.
describe_pet("Whiskers", animal_type="cat")  # Output: I have a cat named Whiskers.

I have a dog named Buddy.
I have a cat named Whiskers.

In [62]:
# Variable-Length Arguments

In [63]:
def add_numbers(*args):
    return sum(args)

print(add_numbers(1, 2, 3, 4))  # Output: 10

def print_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

print_info(name="Alice", age=30, city="New York")

10
name: Alice
age: 30
city: New York

In [64]:
# Return Values

In [ ]:
def multiply(x, y):
    return x * y

result = multiply(4, 5)  # Output: 20
print(result)

In [65]:
# Example with Multiple Return Values

In [66]:
def divide(x, y):
    return x // y, x % y  # Return quotient and remainder

quotient, remainder = divide(10, 3)
print(f"Quotient: {quotient}, Remainder: {remainder}")  # Output: Quotient: 3, Remainder: 1

Quotient: 3, Remainder: 1

### Introduction to External Libraries

### NumPy

In [69]:
pip install numpy

Requirement already satisfied: numpy in c:\users\srvna\appdata\local\anaconda3\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import numpy as np

# Create a NumPy array
arr = np.array([1, 2, 3, 4, 5])

# Basic operations
arr_sum = np.sum(arr)  # Sum of elements: 15
arr_mean = np.mean(arr)  # Mean of elements: 3.0

# Array operations
arr_squared = arr ** 2  # [1, 4, 9, 16, 25]

# Multi-dimensional arrays
matrix = np.array([[1, 2], [3, 4]])
matrix_transposed = matrix.T  # Transpose of the matrix

### Pandas

In [ ]:
pip install pandas

In [ ]:
import pandas as pd

# Create a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)

# DataFrame operations
df_summary = df.describe()  # Summary statistics
df_filtered = df[df['Age'] > 25]  # Filter rows where Age > 25

# Handling missing data
df_filled = df.fillna(value={'Age': 0})  # Fill missing values with 0

### Matplotlib

In [ ]:
pip install matplotlib

In [ ]:
import matplotlib.pyplot as plt

# Create a simple line plot
x = [1, 2, 3, 4, 5]
y = [2, 3, 5, 7, 11]

plt.plot(x, y, marker='o')
plt.title('Simple Line Plot')
plt.xlabel('X-axis')
plt.ylabel('Y-axis')
plt.grid(True)
plt.show()

### Modules and Packages

In [ ]:
my_package/
    __init__.py
    module1.py
    module2.py

In [ ]:
def function1():
    return "Function 1 in Module 1"  # module1.py

In [ ]:
def function2():
    return "Function 2 in Module 2"  # module2.py

In [ ]:
from .module1 import function1
from .module2 import function2
# __init__.py

In [ ]:
# Usage
from my_package import function1, function2

print(function1())  # Output: Function 1 in Module 1
print(function2())  # Output: Function 2 in Module 2

### Packages

In [ ]:
pip install package_name

pip install --upgrade package_name

pip uninstall package_name

pip list

activate deactivate

### Basic data analysis with Pandas

In [ ]:
pip install pandas

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('data.csv')

### Exploring Data

In [ ]:
# Display the first 5 rows of the DataFrame
print(df.head())

# Display the last 5 rows of the DataFrame
print(df.tail())

# Display basic information about the DataFrame
print(df.info())

# Display summary statistics for numerical columns
print(df.describe())

### Accessing Columns and Rows

In [ ]:
# Access a single column (returns a Series)
column_data = df['column_name']

# Access multiple columns (returns a DataFrame)
multiple_columns = df[['col1', 'col2']]

# Access a single row by index
row_data = df.iloc[0]  # First row

# Access rows by a condition
filtered_data = df[df['column_name'] > value]

### Data Cleaning

In [ ]:
# Check for missing values
print(df.isna().sum())

# Drop rows with missing values
df_cleaned = df.dropna()

# Fill missing values with a specific value
df_filled = df.fillna(value='default_value')

In [78]:
# Removing Duplicates

In [ ]:
# Drop duplicate rows
df_unique = df.drop_duplicates()

### Data Manipulation

In [ ]:
# Add a new column with a default value
df['new_column'] = 'default_value'

# Add a new column based on existing columns
df['new_column'] = df['column1'] + df['column2']

# Rename columns
df.rename(columns={'old_name': 'new_name'}, inplace=True)

# Drop a column
df = df.drop(columns=['column_to_drop'])

# Drop a row by index
df = df.drop(index=0)

In [79]:
# Aggregation and Grouping

In [ ]:
# Group data by a column and calculate the mean
grouped = df.groupby('column_name').mean()

# Group data by multiple columns
grouped_multi = df.groupby(['col1', 'col2']).sum()

# Calculate multiple aggregation functions
agg_results = df.groupby('column_name').agg({
    'col1': 'mean',
    'col2': 'sum'
})

### Data Visualization

In [ ]:
import matplotlib.pyplot as plt

# Plot a column as a line chart
df['column_name'].plot()

# Plot a histogram
df['column_name'].hist()

# Plot with labels and title
plt.xlabel('X-axis Label')
plt.ylabel('Y-axis Label')
plt.title('Plot Title')
plt.show()

### Saving Data

In [ ]:
df.to_csv('cleaned_data.csv', index=False)

In [ ]:
# Example workflow

import pandas as pd
import matplotlib.pyplot as plt

# Load the data
df = pd.read_csv('data.csv')

# Display basic information
print(df.info())
print(df.describe())

# Clean the data
df = df.dropna()  # Remove missing values
df = df.drop_duplicates()  # Remove duplicates

# Manipulate the data
df['new_column'] = df['existing_column'] * 2  # Create new column

# Analyze the data
grouped = df.groupby('category_column').mean()

# Visualize the data
df['numeric_column'].hist()
plt.xlabel('Value')
plt.ylabel('Frequency')
plt.title('Histogram of Numeric Column')
plt.show()

# Save the cleaned data
df.to_csv('cleaned_data.csv', index=False)