# Python basics

In [ ]:
# Introduction to Python Programming
# Getting Started
# Python - python.org - Python is a langugage which can be written in various tools like anaconda, pycharm
# But we can install anaconda which comes with python inbuilt

## Creating Variables

In [ ]:
# variable_name = value
age = 25
name = "Alice"
is_student = True

#age is a variable holding an integer value (25).
#name is a variable holding a string value ("Alice").
#is_student is a variable holding a boolean value (True).

In [ ]:
# Eaxmple of valid variables
my_variable = 10
_variable_name = "Python"
variable2 = 3.14

# Example of invalid variables
2variable = 10   # Cannot start with a digit
my-variable = 5  # Hyphens are not allowed

## Variable Types

In [ ]:
#Integers (int): Whole numbers
#Floating-point numbers (float): Numbers with decimal points
#Strings (str): Sequences of characters
#Booleans (bool): True or False

In [ ]:
number_of_apples = 10         # int
price_per_apple = 0.75        # float
apple_name = "Granny Smith"  # str
is_available = True          # bool

In [ ]:
# Dynamic Typing

# Python is dynamically typed, which means you don’t need to declare a variable’s type explicitly.

In [ ]:
# Initially an integer
data = 42          
# Now a string
data = "Hello"

In [ ]:
# Using Variables

# You can use variables in expressions and functions. Here’s an example of using variables in a function
def greet_user(name):
    return f"Hello, {name}!"

user_name = "Alice"
message = greet_user(user_name)
print(message)

## Data Types

In [ ]:
# Integers (int): 
age = 30
# Floating-point numbers (float)
temperature = 98.6
# Strings (str)
greeting = "Hello, world!"
# Booleans (bool)
is_active = True
# Special Data Types - NoneType (None)
result = None

## Operators

In [ ]:
# Arithmetic Operators

In [ ]:
x = 5 + 3  # Addition (+)
y = 10 - 4  # Subtraction (-)
z = 7 * 6  # Multiplication (*)
a = 15 / 3 # Division (/)
b = 15 // 4  # Integer Division (//)
c = 15 % 4  # Modulus (%)
d = 2 ** 3  # Exponentiation (**)

In [ ]:
# Comparison Operators

In [ ]:
is_equal = (5 == 5)  # Equal to (==)
not_equal = (5 != 3)  # Not equal to (!=)
greater = (5 > 3)  # Greater than (>)
less = (5 < 10)  # Less than (<)
greater_equal = (5 >= 5)  # Greater than or equal to (>=)
less_equal = (3 <= 5)  # Less than or equal to (<=)

In [ ]:
# Logical Operators

In [ ]:
result = (5 > 3) and (2 < 4)  # And (and)
result = (5 > 3) or (2 > 4)  # Or (or)
result = not (5 > 3)  # Not (not)

In [ ]:
#  Assignment Operators

In [ ]:
x = 10    # Simple Assignment (=)
x += 5  # Add and Assign (+=)
x -= 3  # Subtract and Assign (-=)
x *= 2  # Multiply and Assign (*=)
x /= 4  # Divide and Assign (/=)
x %= 3  # Modulus and Assign (%=)
x **= 2  # Exponent and Assign (**=)
x //= 3  # Floor Divide and Assign (//=)

In [ ]:
# Identity Operators

In [ ]:
# is: Checks if two variables point to the same object in memory.
# is not: Checks if two variables point to different objects in memory

a = [1, 2, 3]
b = a          
c = [1, 2, 3]  

# Check if two variables point to the same object
print(a is b)   
print(a is c)   

# Check if two variables point to different objects
print(a is not c)  
print(a is not b)  

# Example with integers (Python caches small integers)
x = 10
y = 10
print(x is y)    

# Example with strings
str1 = "hello"
str2 = "hello"
print(str1 is str2)

In [ ]:
# Membership Operators

In [ ]:
# in: Checks if a value is present in a sequence.
# not in: Checks if a value is not present in a sequence.

fruits = ["apple", "banana", "cherry"]
sentence = "Python is awesome"
numbers = {1, 2, 3, 4, 5}

# Check if a value is present in a list
print("apple" in fruits)        
print("orange" in fruits)     

# Check if a value is present in a string
print("awesome" in sentence)   
print("java" in sentence)      

# Check if a value is present in a set
print(3 in numbers)             
print(6 in numbers)             

# Check if a key is present in a dictionary
person = {"name": "Alice", "age": 30}
print("name" in person)         
print("address" in person)      

# Check if a value is not present
print("apple" not in fruits)    
print("orange" not in fruits)

## Example Code

In [ ]:
# Data Types
number = 10
pi = 3.14159
name = "Alice"
is_valid = True

# Arithmetic Operators
sum_result = number + 5
product = number * 2

# Comparison Operators
is_equal = (number == 10)
is_greater = (number > 5)

# Logical Operators
is_true = is_valid and (number > 5)

# Assignment Operators
number += 5  # number is now 15

print("Sum:", sum_result)
print("Product:", product)
print("Is Equal:", is_equal)
print("Is Greater:", is_greater)
print("Is True:", is_true)
print("Number after addition:", number)

## Keywords

In [ ]:
# Keywords are reserved words in Python that have special meanings. They cannot be used as identifiers (variable names, function names, etc.).

In [ ]:
# Example using keywords
age=20
if age >= 18:            # 'if' and 'else' is a keyword
    print("Adult")
else:
    print("Not an adult")

## Statements

In [ ]:
# Statements are instructions that Python can execute. They include assignments, expressions, conditionals, loops, and function calls.

In [ ]:
# Assignment statement
x = 10

# Expression statement
y = x + 5

# Conditional statement
if y > 10:
    print("y is greater than 10")  # Output: y is greater than 10

## Comments

In [ ]:
# Comments are notes in your code to explain what it does. They are not executed. 
# Use # for single-line comments and triple quotes """ or ''' for multi-line comments.

In [ ]:
# Single-line comment
x = 10  # This is a comment

"""
Multi-line comment:
The following block of code demonstrates
how to use multi-line comments.
"""
print(x)

## Indentation

In [ ]:
# Indentation is crucial in Python as it defines the blocks of code. Proper indentation ensures that your code executes as intended.

In [ ]:
if age >= 18:
    print("Adult")
    print("You are eligible to vote.")
else:
    print("Not an adult")
    print("You are not eligible to vote.")

for i in range(3):
    print(i)
    if i == 1:
        print("Middle value")

## String Manipulation

In [ ]:
# Python provides various methods for manipulating strings.

In [ ]:
text = "   Hello, World!   "

# Remove leading and trailing spaces
trimmed_text = text.strip()
print(trimmed_text)  # Output: Hello, World!

# Convert to uppercase
uppercase_text = text.upper()
print(uppercase_text)  # Output:    HELLO, WORLD!   

# Convert to lowercase
lowercase_text = text.lower()
print(lowercase_text)  # Output:    hello, world!   

# Find a substring
index = text.find("World")
print(index)  # Output: 8

# Replace a substring
replaced_text = text.replace("World", "Python")
print(replaced_text)  # Output:    Hello, Python!   

# Split a string
words = text.split(",")
print(words)  # Output: ['   Hello', ' World!   ']

# Join a list into a string
joined_text = " | ".join(words)
print(joined_text)  # Output:    Hello | World!

## Data Structures

In [ ]:
# Data Structures

#Lists =[1,2,3]
#Tuple = (1,2,3)
#Dictionary = {'name':['Ram','Sham'],'Age':[10,20]}
#Sets = {1,2,3}

In [ ]:
# Lists

In [ ]:
fruits = ["apple", "banana", "cherry", "date"]

# Accessing elements
print(fruits[0])  
print(fruits[-1])

# Modifying elements
fruits[1] = "blueberry"
print(fruits)      

# Adding elements
fruits.append("elderberry")
print(fruits)      

# Removing elements
fruits.remove("date")
print(fruits)

In [ ]:
# Tuples

In [ ]:
coordinates = (10, 20, 30)

# Accessing elements
print(coordinates[0]) 
print(coordinates[-1])

# Tuples are immutable, so you cannot modify them
coordinates[1] = 25  # This will raise a TypeError

# Unpacking a tuple
x, y, z = coordinates
print(x, y, z)

In [ ]:
# Dictionaries

In [ ]:
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

# Accessing values
print(person["name"])  
print(person.get("age"))

# Adding or updating values
person["email"] = "alice@example.com"
person["age"] = 31
print(person)  

# Removing a key-value pair
del person["city"]
print(person)

In [ ]:
# Sets

In [ ]:
numbers = {1, 2, 3, 4, 5}

# Adding elements
numbers.add(6)
print(numbers) 

# Removing elements
numbers.discard(4)
print(numbers) 

# Checking membership
print(3 in numbers)  
print(4 in numbers)

## Loops

In [ ]:
# For Loop

In [ ]:
# For loop with a list
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

# For loop with a dictionary
person = {"name": "Alice", "age": 31, "city": "New York"}
for key, value in person.items():
    print(f"{key}: {value}")

# For loop with a tuple
coordinates = (10, 20, 30)
for coordinate in coordinates:
    print(coordinate)

# For loop with a set
numbers = {1, 2, 3, 4, 5}
for number in numbers:
    print(number)

In [ ]:
# Basic if, elif, and else Statements

In [ ]:
temperature = 25

if temperature > 30:
    print("It's a hot day.")
elif temperature > 20:
    print("It's a warm day.")
else:
    print("It's a cool day.")

In [ ]:
# While Loop

In [ ]:
# While loop example
count = 0
while count < 5:
    print(count)
    count += 1

# Using a while loop with lists
fruits = ["apple", "banana", "cherry"]
index = 0
while index < len(fruits):
    print(fruits[index])
    index += 1

In [ ]:
# Loop Control Statements

In [ ]:
# Break statement
for i in range(5):
    if i == 3:
        break
    print(i)

# Continue statement
for i in range(5):
    if i == 3:
        continue
    print(i)

# Else statement with loops
for i in range(3):
    print(i)
else:
    print("Loop completed.")

In [ ]:
# Nested Conditions

In [ ]:
age = 25
membership = True

# Nested conditional statements
if age >= 18:
    if membership:
        print("You have access to the members-only area.")
    else:
        print("You need a membership to access this area.")
else:
    print("You must be at least 18 years old.")